@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,600;1,800;1,900&display=swap');


body{
        padding: 0;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        font-family: 'Poppins', sans-serif;
        background-color: rgb(249, 244, 238);
        box-sizing: border-box;
        max-width: 1400px;
        margin: 0 auto;
    

}
.wrapper {
  border: 2px solid #000;
  padding: 20px; 
  margin: 20px; 
  height: 400px;
}

.desktop{
 
    background-color: rgb(245, 242, 218);
    
    width: 100%;
    height: 200px;
    padding-left: 5%;
    border-style:groove ;
   
  }

.cajita{
  display: flex;
  flex-wrap: wrap;
 
  align-content:space-between;


  

}
.Raiz{
  display: flex;
  flex-wrap: wrap;
 
  align-content:space-between;
  color: rgb(0, 0, 0);
}
.Raiz img{
        align-items: center;
        width: 40px;
        height: 40px;
        padding-right: 10px;

}
.Seleccion {
  display: flex;
  flex-wrap: wrap;
  justify-content:end; /* Alinea los botones hacia la izquierda */
  align-content: space-around;
;
}

.BotonA,
.BotonM,
.BotonE {
  padding-right: 30px;
}

.btn-primary {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #45a049;
}

.btn-primary:active {
  background-color: #3e8e41;
}

.Titulo{
  display: flex;
  flex-wrap:wrap;
 
  align-content:space-between;
  color: rgb(33, 33, 33);
}

.LogoDesk img{
  padding:  10px 10px 0px 0px;
  width: 150px;
  height: 150px;
 
}
.GrandesLG {
  text-align: start;
  color: rgb(21,115,91);
  font-size: 35px;
}
.GrandesLG h7{
  color: rgb(0, 0, 0);
}


nav{
        padding-left: 0px;
        height: 100%;
        width: 4%;
        position: fixed;
        z-index: 1;
        top:0px;
        left: 0px;
        background-color: rgba(0,113,65,255);
        overflow-x: hidden;
       
      
        
}
nav a{

       
  text-decoration: none;
  font-size:  15px;
  color: aliceblue;
  display:inline-flex;
  text-align: left;
  



}

.nav-img a:hover {
  display:block;
}

nav:hover{

        padding-left: 0px;
        height: 100%;
        width: 20%;
        position: fixed;
        z-index: 1;
        top:0px;
        left: 0px;
        background-color: rgba(0,113,65,255);
        overflow-x: hidden;
        align-items: center; 
      
        
}
.primary {
 
  justify-content: center;
  
  
}

      .primary a:hover{

       
        text-decoration: none;
        font-size:  15px;
        color: aliceblue;
        display:inline-flex;
        text-align: left;
       writing-mode: horizontal-tb;
    


      }
      .logo-img img{
      background-color: transparent;
        height: 150px;
        width: 150px;
    
    }
    
       .TextoNav h8{
        
        /*background-color: rgba(83, 203, 95, 0.478);*/
        font-style: oblique;
        font-size: 30;
        text-decoration:dotted;
        padding: 0px 5px 5px 0px ;
        color: aliceblue;
        text-align: center;
        display: block;
        
      }

      .nav-img:hover{
        color: aliceblue;
        font-weight: 700;
        background-color: rgba(241,166,49,255);
      

      }
      nav i:hover{
        margin-right: 5px;
        

      }
      .nav-img{
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 2px;
      
      }
     
      .megumi img:hover{
        padding-left: 10%;
        width: 100%;
        height: 75%;
        
      }
      
      nav i{
        margin-right: 5px;
        

      }
      .nav-img{
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 2px;
        align-items: center; 
      }
      .nav-img img {
        width: 25px;
        height: 25px;
        padding-right: 10px;
       
      }
      .megumi img{
        padding-left: 10%;
        width: 100%;
        height: 75%;
        
      }

  